  <div class="children-container">
    <h1>子供一覧</h1>

    <% if user_signed_in? %>
      <%= link_to '子供追加', new_child_path, class: 'btn btn-primary add-child-button' %>
    <% end %>

    <table class="child-table">
      <thead>
        <tr>
          <th>名前</th>
          <th>年齢</th>
          <th>詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @children.each do |child| %>
          <tr>
            <td><%= child.name %></td>
            <td><%= child.age %></td>
            <td><%= link_to '詳細', child_path(child), class: 'details-link' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>