  <header>
    <div class="container header-container">
      <div class="logo">
        <%= link_to '親子Life', root_path, class: 'logo-link' %>
      </div>
      <nav>
        <ul class="nav-links">
          <li><%= link_to 'ログイン', "#", class: 'nav-link login cute-button' %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: 'nav-link signup cute-button' %></li>
        </ul>
      </nav>
    </div>
  </header>


