<footer class='second-footer'>
    <div class="container">
      <ul>
        <li><%= link_to '利用規約', "#", style: "color: white; text-decoration: none;" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", style: "color: white; text-decoration: none;" %></li>
        <li><%= link_to 'お問い合わせ', "#", style: "color: white; text-decoration: none;" %></li>
      </ul>
    </div>
</footer>