
  
  <%= render "shared/header" %>

  <main>
    <div class="hero">
      <h1>ようこそ、親子Lifeへ！</h1>
      <p>子育てをもっと楽しく、もっと便利に。</p>
      <p>子育てをサポートするためにさまざまな機能を提供しています。以下の機能を使って、大切なお子様の成長をしっかり記録し、共有しましょう。<br>子育てアプリで育児記録、出来事記録、健康管理、食事管理を簡単に行えます。</p>
    </div>

    <section class="features">
      <div class="container">
        <h2>機能紹介</h2>
        <div class="feature">
          <h3>育児記録</h3>
          <p>お子様の成長を写真やメモで記録できます。</p>
          <p>身長・体重の記録はもちろん、毎日の成長の変化を簡単に記録できます。</p>
        </div>
        <div class="feature">
          <h3>出来事記録</h3>
          <p>お子様の初めての笑顔や、初めての一歩など、大切な瞬間を記録しましょう。</p>
          <p>イベントの詳細を写真とともに保存し、いつでも振り返ることができます。</p>
        </div>
        <div class="feature">
          <h3>健康管理</h3>
          <p>忘れやすい予防接種のスケジュール管理をすることができます。</p>
          <p>健康診断の記録を残すことができ、診断結果の見直しや、次回の健康診断のスケジュール管理もできます。</p>
        </div>
        <div class="feature">
          <h3>食事管理</h3>
          <p>毎日の食事内容を管理・記録することができます。</p>
          <p>食事の詳細を記録することができ、写真も一緒に載せることでどんな食事を摂ったのかひと目でわかります。</p>
        </div>
      </div>
    </section>
  </main>

  <%= render "shared/footer" %>
