<div class="health-management-container">
  <h2>健康管理</h2>

  <div class="health-links">
    <%= link_to '予防接種一覧', child_vaccinations_path(@child), class: 'btn btn-primary' %>
    <%= link_to '健康診断一覧', child_health_checks_path(@child), class: 'btn btn-secondary' %>
  </div>
</div>