/* app/assets/stylesheets/growths.css */

.new-growth-record-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-growth-record-container h2 {
  text-align: center;
  color: #1e88e5;
  font-family: 'Pacifico', cursive;
}

.growth-form-group {
  margin-bottom: 20px;
}

.growth-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #1e88e5;
}

.growth-form-group .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.growth-form-actions {
  text-align: center; /* ボタンを中央揃えにする */
  margin-top: 20px; /* ボタンの上にスペースを追加 */
}

.growth-form-actions .btn-primary {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #1e88e5; /* 青色に統一 */
  border: none;
  color: white;
  text-decoration: none;
}

.growth-form-actions .btn-primary:hover {
  background-color: #0d47a1; /* ホバー時の濃い青色 */
  transform: translateY(-3px);
}

.growth-form-actions .btn-primary:active {
  background-color: #1e88e5;
  transform: translateY(0);
}

.actions .btn-secondary {
  background-color: #cccccc;
}

.actions .btn-secondary:hover {
  background-color: #dddddd;
  transform: translateY(-3px);
}

.actions .btn-secondary:active {
  background-color: #cccccc;
  transform: translateY(0);
}
